:root {
  --main-color: #3f51b5;
  --main-text-color: #000;
  --second-text-color: #fff;
  --highlight: #e81e63;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--main-color);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Content {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

.App-link {
  color: #61dafb;
}

.App-Settings {
  width: 40%;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-right: 20px;
  font-size: calc(10px + 1vmin);
}

.mobile-menu {
  margin-bottom: 20px;
  float: left;
}

.show-settings {
  width: 40px;
  height: 55px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
<<<<<<< HEAD
  margin: 15px 0;
||||||| merged common ancestors
  margin: 5px 15px;
=======
  margin: 5px 0;
>>>>>>> dc82c80e66034e310f3bd269ca342d312bbc79ae
  font-size: 1.4em;
  font-weight: bold;
  color: var(--second-text-color);
  background-color: var(--highlight);
  border-bottom: 2px solid black;
}

.line {
   left: 10px;
   margin: 4px auto;
   height: 3px;
   width: 20px;
   background: #fff;
   border-radius: 2px;
   display: block;
}

label {
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid black;
  color: #000;
  color: var(--second-text-color);
  background-color: var(--main-color);
}

#input_height,
#input_width {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  max-width: 30px;
  margin: 5px 15px;
  font-size: 0.8em;
  color: var(--second-text-color);
  background-color: var(--main-color);
}

#input_submit {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 0.9em;
  margin-top: 10px;
  background-color: var(--main-color);
  color: var(--second-text-color);
  border-bottom: 2px solid black;
}

#input_submit:hover {
  opacity: 0.9;
}

.Canvas {
  width: 60%;
  margin-left: 20px;
  text-align: left;
  font-size: calc(10px + 1vmin);
}

.circle-picker {
  margin: 0 auto !important;
}

.Separator {
  max-width: 90%;
  margin: 20px auto;
  border-color: var(--main-color);
}

table {
  border-spacing: 0;
}

td, tr {
  width: 20px;
  height: 20px;
  border: 1px solid #282c34;
}

/* MOBILE STYLES */
@media screen and (max-width: 600px) {
  .App-Content {
    flex-direction: column;
  }

  .App-Settings,
  .Canvas {
    width: 100%;
    padding: 0;
  }

  .Canvas {
    text-align: center;
  }
}

/* @media screen and (min-width: 601px) {
  .mobile-menu {
    display: none;
  }

  .App-Settings {
    display: initial;
  }
} */
