:root {
  --main-color: #541329;
  --main-text-color: #000;
  --second-text-color: #fff;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--main-color);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Content {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

.App-link {
  color: #61dafb;
}

.App-Settings {
  width: 40%;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-right: 20px;
}

label {
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid black;
  color: #000;
  color: var(--second-text-color);
  background-color: var(--main-color);
}

#input_height,
#input_width {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  max-width: 30px;
  margin: 5px 15px;
  font-size: 0.8em;
  color: var(--second-text-color);
  background-color: var(--main-color);
}

#input_submit {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 0.9em;
  margin-top: 10px;
  background-color: var(--main-color);
  color: var(--second-text-color);
  border-bottom: 2px solid black;
}

#input_submit:hover {
  opacity: 0.9;
}

#colorPicker {
  border-radius: 5px;
}

.Canvas {
  width: 60%;
}

.Separator {
  max-width: 90%;
  margin: 20px auto;
  border-color: var(--main-color);
}

table {
  border-spacing: 0;
}

td, tr {
  width: 15px;
  height: 15px;
  border: 1px solid #282c34;
}
